
/TestBed/Library/
/Ulib/_ReSharper.ULib/
/TestBed/Temp/
/Ulib/obj/Debug/
/TestBed/TestBed.6.0.ReSharper.user
/TestBed/_ReSharper.TestBed/
/Ulib/ULib.6.0.ReSharper.user
/Ulib/bin/
/Ulib/obj/
/TestBed/obj/

!Testbed/Library/*.asset
!Testbed/Library/AssetImportState
!Testbed/Library/AssetVersioning.db
!Testbed/Library/BuildPlayer.prefs
!Testbed/Library/ScriptMapper
!Testbed/Library/assetservercachev3
!Testbed/Library/expandedItems
!Testbed/Library/guidmapper
!Testbed/Library/unity default resources
!Testbed/Library/unity editor resources


