
/ULib/_ReSharper.ULib/

/ULib/bin/
/ULib/obj/

/Testbed/Temp/
/Testbed/Library/
/Testbed/obj/
/Testbed/_ReSharper.TestBed/


!Testbed/Library/*.asset
!Testbed/Library/AssetImportState
!Testbed/Library/AssetVersioning.db
!Testbed/Library/BuildPlayer.prefs
!Testbed/Library/ScriptMapper
!Testbed/Library/assetservercachev3
!Testbed/Library/expandedItems
!Testbed/Library/guidmapper
!Testbed/Library/unity default resources
!Testbed/Library/unity editor resources

/TestBed/Library/
/Ulib/_ReSharper.ULib/
/TestBed/Temp/
/Ulib/obj/Debug/